.dashboard {
  .change-status {
  background: #566787;
  color: #ffffff;
  margin-top: 20px;
  margin-right: 30px;
  border-radius: 15px;
  border: 0;
  }

  .row{
    padding: 20px 20px 20px 20px;
  }
  .row1{
    padding-bottom: 20px;
  }
  .card{
    position: relative;
  }
  .t{
    position: absolute;
    top:47px;
    left: 10px;
    z-index: 100;
  }
  .h{
    position:absolute;
    bottom: 3px;
    right: 10px;
    z-index: 100;
  }
  .dash_total {
    background-color: coral;
  }
  .dash_today {
    background-color: aquamarine;
  }
  .dash_male {
    background-color: darkkhaki;
  }
  .dash_female {
    background-color: hotpink;
  }
  .dash_male1{
    position: absolute;
    left:120px;
    bottom: 100px;
  }
}