.alert-success, .error-msg {
  left: 41%;
  top: 20px;
  width: fit-content;
  min-width: 300px;
  height: 40px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}
