@font-face {
  font-family: "utm_bryantlgregular";
  src: url('/fonts/utm_bryantlg-webfont.woff2') format("woff2"),
       url('/fonts/utm_bryantlg-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

$font_Open_Sans: "Open Sans", sans-serif;
$font_UTM_BryantLG: "utm_bryantlgregular";
$font_basic: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
